.footer {
    background: #131517;
    padding: 91px 0 93px;
}

.footer__logo {
    max-width: 293px;
    margin-right: 65px;
}

.footer__logo img {
    width: 100%;
    flex-shrink: 0;
}

.footer__inner {
    display: flex;
    align-items: end;
}

.footer__nav {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 53px;
}

.nav__link {
    display: flex;
    align-items: center;
    gap: 17px;

    font-size: 0.9375rem;
    line-height: 1.125;
    letter-spacing: 0.45px;
}

.nav__link path {
    transition: var(--transition);
}

.nav__link:hover path {
    fill: var(--accent-color);
}

.nav__link:hover .header__link-icon {
    border: 1px solid var(--accent-color);
}

.nav__link span {
    line-height: 1.125;
    letter-spacing: 0.45px;
    font-size: 0.9375rem;
    transition: var(--transition);
}

.nav__link:hover span {
    color: var(--accent-color);
}

.footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--accent-color);
    max-width: 232px;
    width: 100%;
    height: 60px;

    font-size: 0.8125rem;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    font-weight: 700;

    transition: var(--transition);
}

.footer__button:hover {
    color: #000000;
    background: var(--text-color);
    border-color: var(--text-color);
}

.footer__mobile-link,
.footer__mobile-button {
    display: none;
}

@media (max-width: 1330px) {

    .footer__inner {
        flex-direction: column;
        align-items: start;
    }

    .footer__logo {
        margin-bottom: 29px;
    }

    .footer__nav {
        flex-direction: column;
    }

    .nav__list {
        margin-bottom: 32px;
    }
}

@media (max-width: 1120px) {
    .nav__list {
        flex-direction: column;
        gap: 13px;
    }
}

@media(max-width: 500px) {
    .nav__item:nth-child(2) {
        display: none;
    }

    .nav__item:last-child span>span {
        display: none;
        order: 0;
    }

    .nav__item:first-child {
        order: 1;
    }

    .header__link-icon {
        width: 60px;
        height: 60px;
    }

    .footer__logo {
        flex-shrink: 1;
        max-width: 162px;
    }

    .footer__button {
        display: none;
    }

    .footer__mobile-link {
        display: flex;
        margin-bottom: 16px;
    }

    .footer__mobile-button {
        display: flex;
    }
}