.hero {
    padding: 82px 0 0;
}

.hero__inner {
    display: flex;
}

.hero__subtitle {
    font-size: 2.5625rem;
    text-transform: uppercase;
    letter-spacing: 1.23px;
    line-height: 2;
}

.hero__title {
    font-size: 4.6875rem;
    letter-spacing: 2.25px;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 74px;
}

.hero__title span {
    display: inline-flex;
    padding: 6px 13px;
    transform: translate(10px, -23px);
    justify-content: center;
    align-items: center;
    background: #343A3E;
    border-radius: 60px;

    font-size: 0.9375rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.45px;
    text-transform: none;
}

.hero__top-list {
    display: flex;
    margin-bottom: 73px;
    margin-left: 7px;
    max-width: 772px;
    width: 100%;
}

.hero__top-item {
    display: flex;
    max-width: 261px;
    gap: 11px;
    margin-right: 49px;
    align-items: center;
    justify-content: center;

    font-size: 1.125rem;
    line-height: 1.3;
    letter-spacing: 0.54px;
}

.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252121;
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: 0.65px;
    width: 277px;
    height: 70px;
    border-radius: 60px;
    background: linear-gradient(141.56deg, rgba(234, 66, 42, 1), rgba(246, 144, 32, 1) 48%, rgba(255, 198, 25, 1) 100%);
    margin-bottom: 125px;

    transition: .6s;
}

.hero__button:hover {
    transform: scale(1.1);
}

.hero__bottom-list {
    display: flex;
}

.hero__bottom-item {
    display: flex;
    max-width: 480px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #282B32;
    padding: 30px 65px 30px 45px;
    letter-spacing: 0.48px;
    line-height: 1.5;
    z-index: 1;
}


.hero__bottom-item img {
    margin-right: 20px;
}

.hero__bottom-item span {
    width: 34px;
    border: 1px solid rgba(255, 198, 25, 0.3);
    margin-right: 37px;
}

.hero__bottom-item:nth-child(even) {
    background: #202124;
}

.hero__desc {
    position: absolute;
    top: 710px;
    left: 685px;
    color: #606571;
    transform: rotate(-90deg);

    font-size: 0.5625rem;
    letter-spacing: 1.8px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}


.hero__telegram {
    position: absolute;
    align-items: center;
    right: 94px;
    top: 577px;
    display: flex;
    flex-direction: column;

    transition: var(--transition);
}

.hero__telegram:hover {
    transform: rotate(-180deg);
}

.hero__telegram-icon svg {
    transition: var(--transition);
}

.hero__telegram:hover .hero__telegram-icon svg {
    transform: rotate(-180deg);
}

.hero__telegram span {
    display: block;
    color: #F69020;
    font-size: 0.5625rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transform: rotate(-90deg)
}

.hero__telegram-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(217.15deg, rgba(255, 198, 25, 1), rgba(246, 144, 32, 1) 46%, rgba(236, 81, 40, 1) 100%);
    width: 83px;
    height: 83px;
    border-radius: 100px;
    margin-bottom: 80px;
}

/* images */

.hero__images {
    position: absolute;
    right: 94px;
    top: 159px;
    z-index: -10;
    max-width: 1024px;
    width: 100%;
    height: 685px;
}

.hero__images-bg {
    position: relative;
    background: url('/assets/img/content/hero-bg.png') no-repeat;
    box-shadow: inset -31px 0px 121px 120px rgba(25, 27, 32, 1);
    opacity: 0.28;
    z-index: -5;
    width: 100%;
    height: 100%;
}

.hero__images-women--container {
    position: absolute;
    left: 134px;
    top: -133px;
    max-width: 700px;
    width: 100%;
    height: 1247px;
}

.hero__images-women {
    background: url('/assets/img/content/women.png') no-repeat;
    z-index: -1;
    max-width: 700px;
    width: 100%;
    height: 1247px;
    position: relative;
}

.hero__images-hours {
    position: absolute;
    background: url('/assets/img/content/hours.png') no-repeat;
    max-width: 269px;
    top: 520px;
    left: -33px;
    width: 100%;
    height: 273px;
}

.hero__images-hours--content {
    position: absolute;
    display: block;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.48px;
    text-align: center;
    top: 50%;
    left: 30%;
}

.hero__images-hours--content span {
    display: block;
    background: linear-gradient(180.00deg, rgba(255, 198, 25, 1), rgba(246, 144, 32, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 1.75rem;
    line-height: 0.857;
    letter-spacing: -0.28px;
}

.hero__images-microphone {
    position: absolute;
    background: url('/assets/img/content/hero__microphone.png') no-repeat;
    max-width: 167px;
    width: 100%;
    height: 624px;
    top: 439px;
    left: 345px;
}

@media (max-width: 1870px) {
    .hero__images-women--container {
        position: absolute;
        left: 170px;
        top: -133px;
        max-width: 700px;
        width: 100%;
        height: 1247px;
    }
}

@media (max-width: 1600px) {
    .hero__bottom-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero__bottom-item {
        max-width: none;
    }

    .hero__bottom-item:nth-child(4) {
        grid-column: -3/-2;
        grid-row: 2;
    }

    .hero__telegram {
        display: none;
    }

    .hero__title {
        margin-bottom: 30px;
    }

    .hero__title span {
        display: block;
        max-width: 113px;
        width: 100%;
        margin-top: 35px;
    }

    .hero__top-list {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 13px;
    }

}

@media (max-width: 1400px) {
    .hero__images-women {
        transform: scale(.8);
        top: 150px;
    }
}

@media (max-width: 1220px) {

    .hero {
        padding: 10px 0 0;
    }

    .hero__button {
        margin-bottom: 32px;
    }

    .hero__images {
        display: none;
    }

}

@media (max-width: 800px) {
    .hero__bottom-list {
        display: block;
    }
}

@media (max-width: 670px) {

    .hero__subtitle {
        font-size: 40px;
    }

    .hero__title {
        font-size: 62px;
    }
}

@media (max-width: 560px) {
    .hero__subtitle {
        font-size: 25px;
    }

    .hero__title {
        font-size: 32px;
    }

    .hero__bottom-list {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .hero__bottom-item span {
        display: none;
    }
}