@font-face {
    font-family: 'Muller';
    src: local('Muller Black'), local('MullerBlack'),
        url('../assets/fonts/MullerBlack.woff2') format('woff2'),
        url('../assets/fonts/MullerBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('../assets/fonts/MullerBold.woff2') format('woff2'),
        url('../assets/fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('../assets/fonts/MullerMedium.woff2') format('woff2'),
        url('../assets/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller ExtraBold'), local('MullerExtraBold'),
        url('../assets/fonts/MullerExtraBold.woff2') format('woff2'),
        url('../assets/fonts/MullerExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('../assets/fonts/MullerRegular.woff2') format('woff2'),
        url('../assets/fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}